.App {
  max-width: 376px;
  margin: 0 auto;
  width: 100%;
}

.js-delete {
  max-width: 99px;
}
div.js-delete > div > svg:nth-child(2) {
  display: none;
}

div.js-delete > div > svg:nth-child(1) {
  left: 40px !important;
}

div.swipe-to-delete > div.js-delete {
  left: 74% !important;
}
